.DS_Store
.DS_Store
.env
.env
.env.*
.env.build
.output
.vercel
.vercel
/.svelte-kit
/build
/package
node_modules
node_modules
public/bundle.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
!.env.example
